body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
}
.jumbotron {
  background-image: url(../images/Joblogo.png);
  margin: 0 auto;
  background-position: center;
  height: 200px;
  width: 500px;
}

footer {
  background: rgba(88, 116, 129, 0.8);
  width: 100%;
  position: fixed;
  padding: 20px 20px;
  bottom: 0;
}

.searchTitle{
  text-decoration: none;
  color: black;
  font-size: larger;
}

.searchSnippet{
  font-size: medium;
}
.grid-container:first-of-type{
  border: none;
  
}

.grid-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.callout {
  background-color: rgb(73, 73, 73);
}
label {
  font-size: 20px;
  color: white;
}