body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(204, 205, 206);
}
.jumbotron {
  background-image: url(../images/Joblogo.png);
  margin: 0 auto;
  background-position: center;
  height: 200px;
  width: 500px;
}

footer {
  background: rgba(54, 54, 54, 0.8);
  width: 100%;
  position: fixed;
  padding: 20px 20px;
  bottom: 0;
}

.searchTitle{
  text-decoration: none;
  color: black;
  font-size: larger;
}

.searchSnippet{
  font-size: medium;
}