body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: lightgrey;
}
.jumbotron {
  background-image: url(../images/Joblogo.png);
  margin: 0 auto;
  background-position: center;
  height: 200px;
  width: 500px;
}

footer {
  background: rgba(54, 54, 54, 0.8);
  width: 100%;
  position: fixed;
  padding: 20px 20px;
  bottom: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

